body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-box {
  display: flex;
  flex-direction: row;
}

.buttons-wrapper:first-child {
  margin-right: 16px;
}

.button {
  padding: 8px;

  border-radius: 4px;
  background-color: darkgray;
  color: white;
  border: none;
}

footer {
  width: 100%;
  padding: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}